<div class="securityform">
    <h1>
        @Html.Sitecore().Field("Title")
</h1>
@Html.Sitecore().Field("Body")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <p>
        <label for="UserName">Username:</label>
        @Html.TextBox("UserName")
        @Html.ValidationMessage("UserName", "*")
    </p>
    <p>
        <label for="Password">Password:</label>
        @Html.Password("Password")
        @Html.ValidationMessage("Password", "*")
    </p>
    <p>
        @Html.CheckBox("RememberMe")
        <label for="RememberMe" style="display:inline">RememberMe</label>
    </p>

    <p><input type="submit" value="Log in" class="btn btn-primary" /></p>
}
</div>